body{
    background-color: rgb(1, 119, 165);
}

.h{
    width: 400px;
    height: 50px;
    border: 10px solid rgb(3, 150, 39);
    background-color: rgb(3, 150, 39);
    margin: 0 auto;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}


.d{
    width: 400px;
    height: 70px;
    border: 10px solid rgb(3, 150, 39);
    background-color: rgb(3, 150, 39);
    margin: 0 auto;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}